/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
     justify-content: space-between;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-title {
  font-family: Georgia, Times,"SentyTang",STXihei,serif;
  display: -webkit-box;
  display: flex;
  padding: 0.5rem 0;
  align-self: stretch;
  -webkit-box-align: center;
        align-items: center;
  font-weight: bold;
  font-size: 48px;
  z-index: 20;
}

.masthead__menu {
  width: 100%;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

@font-face {
    font-family: "SentyTang";
    src: url("/assets/fonts/SentyTang.eot"); /* IE9 */
    src: url("/assets/fonts/SentyTang.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("/assets/fonts/SentyTang.woff") format("woff"), /* chrome、firefox */
    url("/assets/fonts/SentyTang.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("/assets/fonts/SentyTang.svg#SentyTang") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
